@model RobbyBlog.Models.ListViewModel
@{
    ViewBag.Title = "Robby Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <h1>@ViewBag.Title</h1>

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }
    @Html.Partial("_Pager", Model)
</div>